<h1>Editing planner booking</h1>

<%= render "form", planner_booking: @planner_booking %>

<br>

<div>
  <%= link_to "Show this planner booking", @planner_booking %> |
  <%= link_to "Back to planner bookings", planner_bookings_path %>
</div>
